<section id="header"> 
  <h3 style="float:left; width:50%; text-align:left;">New Nonplayer Character</h3>
</section>

<section>
  <%= form_for [@campaign, @nonplayer_character] do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
      <%= f.label :background %>
      <%= f.text_area :background, required: true, size: "25x5" %>

      <%= f.submit value: "Create new Nonplayer Character" %>
    </p>
  <% end %>
</section>