<h1><%= @campaign.name %></h1>
<p><%= @campaign.description %></p>
<%= link_to "Edit Campaign", edit_campaign_path(@campaign) %>
<%= link_to "Delete", campaign_path(@campaign), method: :delete, data: {confirm: "Do you really want to delete the campaign?"} %>
<%= link_to "<< Back to Campaign List", campaigns_path %>

<h3> Nonplayer Characters </h3>
<%= link_to "Create New Nonplayer Character", new_campaign_nonplayer_character_path(@campaign) %>
<% @campaign.nonplayer_characters.each do |nonplayer_character| %>
  <p><%= nonplayer_character.name %></p>
  <p><%= nonplayer_character.background %></p>
<% end %>
