<h1><%= @campaign.name %></h1>
<p><%= @campaign.description %></p>
<%= link_to "Edit Campaign", edit_campaign_path(@campaign) %>
<%= link_to "Delete", campaign_path(@campaign), method: :delete, data: {confirm: "Do you really want to delete the campaign?"} %>
<%= link_to "<< Back to Campaign List", campaigns_path %>

<div id='npcs'>
<h3> Nonplayer Characters 
  <span><%= link_to "Create New NPC", new_campaign_nonplayer_character_path(@campaign) %> </span>
</h3>
  <ul>
    <% @campaign.nonplayer_characters.each do |nonplayer_character| %>
      <li>Name: <%= nonplayer_character.name %></li>
      <ul>Background: <%= nonplayer_character.background %></ul>
      <%= button_to "Delete #{nonplayer_character.name}", campaign_nonplayer_character_path(@campaign, nonplayer_character), method: :delete, data: {confirm: "Do you really want to delete this NPC?"} %><br>
    <% end %>
  </ul>
</div>
